numpy>=1.26.0
pandas>=2.2.0
scikit-learn>=1.3.0
scipy>=1.11.0
matplotlib>=3.8.0
seaborn>=0.13.0
plotly>=6.0.0
fpdf2>=2.8.0
joblib

langchain>=0.3.0
langchain-core>=0.3.0
langchain-google-genai>=2.0.0

python-dotenv>=1.0.0
tqdm>=4.66.0
xgboost>=2.0.0
shap>=0.40.0
streamlit>=1.40.0